* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

html, body {
  height: 100%;
  width: 100%;
  color: whitesmoke;
  font-family: monospace;
}
body{
    background-color: black;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    width: 90%;
    margin: auto;
}
.box1, .box2, .box3{
    position: relative;
    width: 300px;
    height: 400px;
    border-radius: 15px;
    overflow: hidden;
    cursor: pointer;

}
.box1 img, .box2 img, .box3 img{
    padding: 20px 40px;
    width: 100%;
    height: 80%;
    object-fit: cover;
}
.box2,.box1,.box3 p{
    text-align: center;
}
/*box1*/
.box1{
    border: 0px solid #ff5733;
    margin-bottom: 10%;
    background:
    conic-gradient(from var(--rotate), black,rgb(213, 213, 23),black) border-box;
    box-shadow: 0 0 0px rgba(255, 87, 51, 0.875);
    animation: borderRotate 10s linear infinite;
    animation-play-state: paused;
    transition: all 0.5s ease-in-out;
    
}
.box1 h2{
    font-size: 24px;
    margin-top: -5%;
    text-align: center;
}
.box1:hover{
    animation-play-state: running;
    border-width: 5px;
    color: tomato;
    box-shadow: 0 0 100px rgba(255, 87, 51, 0.875);
}
@property --rotate{
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}
@keyframes borderRotate{
    from{
        --rotate: 0deg;
    }
    to{
        --rotate: 360deg;
    }
}

/*box2*/

.box2{
    border: 0px solid #33ff57;
    box-shadow: 0 0 0px rgba(18, 195, 50, 0.875);
    background: conic-gradient(from var(--angle) ,black,rgb(127, 158, 26),black) border-box;
    animation: borderSpin 10s linear infinite;
    animation-play-state: paused;
    transition: all 0.5s ease;
}
.box2 h2{
    font-size: 24px;
    margin-top: -5%;
    text-align: center;
}
.box2:hover{
    box-shadow: 0 0 100px rgba(18, 195, 50, 0.875);
    border-width: 5px;
    animation-play-state: running;
    color: #33ff57;


}

@property --angle{
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}
@keyframes borderSpin{
    from{
        --angle:0deg;
    }
    to{
        --angle:360deg;
    }
}
/*box3*/
.box3{
    border: 0px solid #3357ff;
    background: conic-gradient(from var(--angle),black,rgb(123, 13, 190),black) border-box;
    box-shadow: 0 0 0px rgba(158, 14, 201, 0.875);
    animation: borderSpin 10s linear infinite;
    animation-play-state: paused;
    transition: all 0.5s ease;  
}
.box3{
    margin-bottom: 10%;
}
.box3 h2{
    font-size: 24px;
    margin-top: -5%;
    text-align: center;
}
.box3:hover{
    box-shadow: 0 0 100px rgba(158, 14, 201, 0.875);
    border-width: 5px;
    animation-play-state: running;
    color: #aa9a0a;
}

