
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: monospace;
  font-size: 20px;
}
body{
    min-height: 100vh;
    overflow-x: hidden;
}
header{
    width: 100%;
    position: absolute;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    color: white;
    font-size: 2em;
    user-select: none;
}
.navigation a{
    position: relative;
    font-size: 1.1em;
    color: white;
    text-decoration: none;
    margin-left: 20px;
    padding: 5px 10px;
    font-weight: 900;
    transition: 0.5s;
}
.navigation a:hover,
.navigation a.active{
    color: #333;
}
.navigation a span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 30px;
    z-index: -2;
    transform: scale(0);
    transition: .5s;
    opacity: 0;
}
.navigation a:hover span,
.navigation a.active span{
    transform: scale(1);
    opacity: 1;
}
.parallax{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
#text{
    position: absolute;
    font-size: 5em;
    color: #1b283c;
    text-shadow: 2px 4px 5px;
}
.parallax img{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}
.parallax img#gate-left{
    position: fixed;
    transform: translateX(-280px);
}
.parallax img#gate-right{
    position: fixed;
    transform: translateX(305px);
}
.sec{
   position: relative;
   background:#020912; 
   padding: 30px 100px;
}
.sec h2{
  font-size: 3em;
  color: white;
  margin-bottom: 10px;
}
.sec p {
    font-size: 1em;
    color: #fff;
    text-align: justify;
    font-weight: 300;
    
}