@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
  color: black;
  font-family: 'Luckiest Guy', cursive;
}
.container{
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.box {
    position: relative;
    width: 800px;
    height: 600px;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 70px; 
}

.box h1{
    font-weight: 200;
    font-size: 50px;
    text-align: center;
    padding: 10px;
}
.image-box {
    position: absolute;
    top: 190px;   
    left: 50%;
    transform: translateX(-50%);

    width: 1500px;  
    max-width: none;     
    
    height: 230px;
    display: flex;
    align-items: center;
    white-space: nowrap;
    gap: 15px;
    padding: 10px;

    overflow-x: hidden;   
    overflow-y: hidden;
    z-index: 1;
    scroll-behavior: smooth;
}
.image-box img{
    width: 270px;
    height: 270px;
    object-fit: cover;
    border: 2px solid#fff;
    flex-shrink: 0;
}
#special-img{
  width: 250px;
  height: 200px;
  object-fit: cover;
  object-position: center 15%;
}
.slide{
  filter: blur(5px);
  opacity: 0.35;
  transform: scale(0.82);
  transition:
    filter 0.8s ease,
    opacity 0.8s ease,
    transform 0.8s cubic-bezier(0.19, 1, 0.22, 1); 
}

.active{
  filter: blur(0);
  opacity: 1;
  transform: scale(1.12);
}

.arrow-buttons {
    position: absolute;
    display: flex;
    bottom: 30px;    
    left: 50%;
    gap: 20px;
    transform: translateX(-50%);
    z-index: 100;    
}

.prev-button, 
.nxt-button {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.prev-button i,
.nxt-button i {
  font-size: 25px;
}

.exit-left{
  opacity: 0;
  transform: translateX(-40px) scale(0.75);
}

.exit-right{
  opacity: 0;
  transform: translateX(40px) scale(0.75);
}
.slide{
  will-change: transform, opacity;
}
.image-box{
  will-change: scroll-position;
}
