* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    flex-direction: column;
    gap: 10px;
    cursor: pointer;
}

@property --rotate{
   syntax: '<angle>';
   initial-value: 0deg;
   inherits: false;
}

@keyframes borderAnimate{
  from{
    --rotate: 0deg;
  }
  to{
    --rotate: 360deg;
  }
}
#box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    padding-inline: 10px;
    padding-bottom: 10px;
    color: whitesmoke;
    box-shadow: 0 0 0px rgba(192, 20, 183, 0.875);
    border-radius: 15px;
    background: 
    linear-gradient(black) padding-box,
    conic-gradient(from var(--rotate) ,black, rgb(197, 15, 157), black ) border-box;
    border: 0px solid rgb(255, 255, 255, 0);
    animation: borderAnimate 5s linear infinite;
    animation-play-state: paused;
    transition: all 0.5s ease;
    color: whitesmoke;
    text-shadow: 0 0 0px;
}
#box img{
    padding: 50px 60px;
    width: 100%;
    height: 60vh;
    object-fit: cover;
}
#box h1{
    font-size: 2.5rem;
    margin-bottom: 5px;
}
#box p{
    font-size: 1.2rem;
    margin-top: 5px;
    font-weight: 500;
}
#box:hover{
    animation-play-state: running;
    border-width: 5px;
    color: rgb(255, 0, 255);
    text-shadow: 0 0 10px rgb(199, 209, 204);
    box-shadow: 0 0 50px rgba(192, 20, 183, 0.875);
}