* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: monospace;
  overflow: hidden;
}


.carousel{
  height: 100vh;
  padding: 0 10%;
  overflow: hidden;
}
.carousel .box-info{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 650px;
    height: 250px;
    overflow: hidden;
}
.box-info .list-info{
    transition: 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.list-info .info{
     display: flex;
     flex-direction: column;
     justify-content: center;
     color: #fff;
     height: 250px;
}
.info h2{
    font-size: 50px;
    line-height: 1;
}
.info p{
    font-size: 15px;
    margin: 15px 0;
}
.info .btn{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 50px;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-family: monospace;
    font-size: 25px;
}
.list-img{
    height: 100vh;
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    transition: 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.list-img .item{
 height: 100%;
 width: 100%;
 display: flex;
 justify-content: flex-end;
 align-items: center;
 padding-right: 50px;
 }
 .list-img .item img{
    max-height: 80vh;
    object-fit: contain;
 }
.navigation{
    position: absolute;
    bottom: 7%;
    left: 50%;
    transform: translateX(-50%);
}
.navigation span{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    margin:0 10px ;
    font-size: 55px;
    color: #fff;
}
.bg-box .bg{
   position: absolute;
   width: 100%;
   height: 100%;
   transition: 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
   
}
.bg-box .bg:nth-child(1){
background: linear-gradient(360deg,green,greenyellow);
}
.bg-box .bg:nth-child(2) {
  background: linear-gradient(360deg,#550802,#f40401);
}
.bg-box .bg:nth-child(3){
background: linear-gradient(360deg,#696969,#ffff03);

}
.bg-box .bg:nth-child(4){
background: linear-gradient(360deg,pink,#bf0f9f);

}

.bg-box .bg:nth-child(2),
.bg-box .bg:nth-child(3),
.bg-box .bg:nth-child(4){
    clip-path: circle(0% at 50% 50%);
}
.bg-box .bg:nth-child(2).active,
.bg-box .bg:nth-child(3).active,
.bg-box .bg:nth-child(4).active{
    clip-path: circle(75% at 50% 50%);
}
