* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
 }
 body{
  background-color: black;
  color: whitesmoke;
  overflow: hidden;
 }
.stack{
    position: relative;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    gap: 10px;
    transform: translate(-50%,-50%);
    
}
.word{
    font-size: 5rem;
    font-family: monospace;
    text-align: center;
    font-weight:500;
    margin: 0;
    line-height: 0.75;
    opacity: 0;
    transform: translateY(60px) scale(1.3) rotateX(25deg) rotateZ(5deg); 
    animation: show 1.2s ease-out forwards,
               slowTilt 6s ease-in-out infinite alternate;
}

.word:nth-child(1){
    animation-delay: 0s;
}
.word:nth-child(2){
    animation-delay: 0.1s;
}
.word:nth-child(3){
    animation-delay: 0.2s;
}
.word:nth-child(4){
    animation-delay: 0.3s;
}
.word:nth-child(5){
    animation-delay: 0.4s;
}
.word:nth-child(6){
    animation-delay: 0.5s;
}
.word:nth-child(7){
    animation-delay: 0.6s;
}
.word:nth-child(8){
    animation-delay: 0.7s;
}


@keyframes show{
    from{
        opacity: 0;
        transform:translateY(40px) scale(1.2) rotateX(15deg) ;
    }
    to{
        opacity: 1;
        transform: translateY(0px) scale(1) rotateX(0deg);
    }
}

@keyframes slowTilt{
    0%{
        transform:  rotateX(0deg) rotateZ(0deg);
    }
    50%{
        transform:rotateX(10deg) rotateZ(-6deg);
    }
    100%{
        transform: rotateX(-10deg) rotateZ(6deg);
    }
}
.ball{
    width: 50px;
    height: 50px;
    background-color: rgb(54, 175, 135);
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    
}
