* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
}
body{
    background-color: #fff;
    min-height:100vh;
    overflow-x: hidden;
}
header{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 30px 100px;
    width: 100%;
    z-index: 100;
}
.logo{
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-size: 2.5em;
   color: #32c910;
   font-weight: 200;
   pointer-events: none;
   margin-right: 250px;
}
.navigation a{
    font-size: 1.5em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    padding: 6px 15px;
    margin: 0 10px;
    transition: .5s;
    color: black;
    border-radius: 20px;
}
.navigation a:hover,
.navigation a.active{
    background-color: #32c910;
    color: #fff;
}
.parallex{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
#text{
    position: absolute;
    font-size: 3.5em;
    z-index: 5;
    color: rgb(231, 222, 222);
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 20px 14px 20px rgba(65, 194, 14, 0.2);
}
#text span{
    color: black;
    
}
.parallex {
    position: relative;
    z-index: 1;
    height: 100vh;
    overflow: hidden;
}

.parallex img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    pointer-events:none;
}
.sec{
  position: relative;
  background-color: #003329;
  padding: 100px;
}
.sec h2{
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 10px;
    font-size: 3em;
}
.sec p{
    font-size: 1.5em;
    color: #fff;
    font-weight: 300;
}