* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 5%;
    background: transparent;
    display: flex;
    align-items: center;
    z-index: 100;
}
.logo{
    font-size: 40px;
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}
.social-media{
    margin: 0 auto 0 50px;
}
.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 6px;
    text-decoration: none;
    margin-right: 10px;
    transition: .5s;
}
.social-media a:hover{
    background: #fff;
}
.social-media a i{
    font-size: 20px;
    color: #fff;
    transition: .5s;
}
.social-media a:hover i{
    color: #444;
}
.navbar a{
    font-size: 22px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 30px;
    font-family: monospace;
    text-shadow: 0 0 10px rgba(0, 0, 0,0.1);
}
.navbar a:hover{
    color: #000;
}
.banner{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}
.slider .slide{
    position: absolute;
   width: 100%;
   height: 100%;
}
.slide img{
    position: absolute; 
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    opacity: 0;
    transition: .3s ease;
}
.slide.active img{
    opacity: 1;
}
.slide .left-info{
    position: absolute;
    top:0;
    left: 0;
    width: 50%;
    height: 100%;
    transform: translateX(-100%);
    transition: 0s;
}
.slide.active  .left-info{
    transform: translateX(0);
    z-index: 1;
    transition: .5s ease;
}
.left-info .blur{
  position: absolute;
  width: 100%;
  height: 100%;  
  background: rgba(255,255,255,.1); 
  backdrop-filter: blur(20px);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  -webkit-mask: linear-gradient(#000  0 0),
                linear-gradient(#000  0 0);
        mask:   linear-gradient(#000  0 0),
                linear-gradient(#000  0 0);
   -webkit-mask-clip: text,padding-box;
   mask-clip: text, padding-box;
   -webkit-mask-composite: xor;
   mask-composite: exclude;
   padding: 20px;
}
.blur h1{
    font-size: 250px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 0 0 10px rgba(255,255,255,.8);
}

.slide:nth-child(1) .blur h1,
.slide:nth-child(4) .blur h1{
    margin-right: -10px;
}
.content{
    position: absolute;
    bottom: 2%;
    left: 5%;
    color: #fff;
}
.content h3{
    font-size: 25px;
    font-family: monospace;
}
.content p{
    font-size: 20px;
    margin: 10px 0 15px;
    font-family: Arial, Helvetica, sans-serif;
}
.btn{
    display: inline-block;
    padding: 13px 28px;
    background: #fff;
    border: 2px solid #fff;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0,0.1);
    font-size: 16px;
    color: #444;
    text-decoration: none;
    font-weight: 600;
    transition: .5s;
}
.btn:hover{
   background: transparent;
   color: #fff; 
}
.slide .right-info{
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    transform: translateX(100%);
    transition: 0s;
}
.slide.active  .right-info{
    transform: translateX(0);
    z-index: 1;
    transition: .5s ease;
}
.right-info h1{
    font-size: 250px;
    color: #fff;
    text-shadow: 
      0 1px #ccc,
      0 2px #c9c9c9,
      0 3px #bbb,
      0 4px #b9b9b9,
      0 5px #aaa,
      0 6px 1px rgba(0, 0, 0,0.1),
      0 0 5px rgba(0, 0, 0,0.1),
      0 1px 3px rgba(0, 0, 0,0.3),
      0 6px 3px rgba(0, 0, 0,0.2);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.slide:nth-child(2) .right-info h1,
.slide:nth-child(4) .right-info h1{
  margin-right: 10px;
}
.right-info h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: absolute;
    font-size: 80px;
    color: #fff;
    text-shadow: 0 0 10px rgba(0, 0, 0,0.5);
    transform: translateY(150px);
    margin-left: 13px;
}
.navigation{
    position: absolute;
    bottom: 8%;
    right: 5%;
    z-index: 99;
}
.navigation span{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background: #fff;
    border: 2px solid #fff;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0,0.5);
    cursor: pointer;
    margin-left: 25px;
    transition: .5s;
}
.navigation span:nth-child(1){
    background: transparent;
}
.navigation span:nth-child(1):hover{
    background: #fff;
}
.navigation span i {
    font-size: 45px;
    color: #444;
    transition: .5s;

}
.navigation span:nth-child(1)  i {
    color: #fff;
}
.navigation span:nth-child(1):hover  i {
    color: #444;
}